@charset 'utf-8';
.main{
    width: 100%;
    height: auto;
}
.table{
    width: 100%;
    height: auto;
}
.title-line{
    width: 100%;
    display: table;
    line-height: normal;
}
.title-line .text{
    float: left;
    width: 16.66%;
    text-align: center;
    border: 3px solid #000;
}

.line{
    width: 100%;
    display: table;
    line-height: normal;
}
.line .text{
    float: left;
    width: 16.66%;
    text-align: center;
    border: 1px solid #adadad;
}
.line .text a{
    text-decoration: none;
}
.title-line .text{
    color: red;
}