@charset 'utf-8';
.main{
    width: 100%;
    height: auto;
    background-color: #EAEAE0;
}
.header{
    width: 100%;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
}
.header .title{
    float: left;
    line-height: 80px;
    font-size: 1.7em;
    color: #4D9BE8;
}
.header .blog-link{
    float: right;
    line-height: 80px;
    color: navy;
}

/*
    コンテンツ部分
*/
.content{
    width: 100%;
    padding: 20px 15px 15px 15px;
}
.content .main-content{
    width: 70%;
    margin: 0 auto;
    border: 1px solid #4D9BE8;
    border-radius: 5px;
    background-color: #fff;
}

/*
    コンテンツ部分
*/
.main-content{
    padding: 10px;
}
.main-content .set-menu{
    width: 100%;
    line-height: normal;
    border-bottom: 1px solid #000;
}
.set-menu{
}
.set-menu .title{
    font-size: 1.5em;
}
.set-menu .menu-li{
    margin: 0 auto;
    width: auto;
    display: table;
}
.menu-li a{
    display: block;
    margin-right: 100px;
    font-size: 1.2em;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #4D9BE8;
}
.menu-li .checked{
    color: #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}


.naiyou{
    width: 85%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
}

/*
    記事一覧用
*/
.naiyou p{
    color: #000;
}
.naiyou .post-btn{
    margin: 0 auto;
    margin-bottom: 15px;
}
.naiyou a{
    width: 100px;
    background-color: aqua;
    line-height: normal;
    margin-top: 25px;
    display: block;
    text-align: center;
}


/*
    記事一覧テーブル
*/
.posts-table{
    width: 100%;
    display: table;
}
.posts-table .post-line{
    margin-bottom: 10px;
    display: table;
    width: 100%;
    line-height: 2em;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px dashed #000;
    
}
.post-line .li{
}
.post-line .left{
    float: left;
    margin-right: 15px;
}
.post-line .right{
    margin-right: 15px;
    float: right;
}